main {
    width: 80vw;
    display: grid;
    grid-template: 300px 300px / 1fr 1fr;
    justify-items: center;
    border: 4px solid white;
    align-items: center;
    background-color: #32a39e;
    /* opacity: .7; */
}
.box1 {
    padding: 10px;
}
/* h2.box1 {
    border-bottom: 2px solid white;
    position: relative;
    margin-left: 30px;
    bottom: 20%;
    font-weight: bold;
    font-size: 24px;
} */
.box1 > h2 {
    font-size: 30px;
    position: relative;
    left: 10%;
}
.box1 p {
    /* color: white; */
    margin-top: 10%;
    height: 50%;
    position: relative;
    top: 30%;
    /* font-weight: bolder; */
    color: white;
    font-size: 24px;
}

.projectPic {
    max-width: 100%;
    height: 300px;
    
}
.raise {
    height: 304px;
}
.weather {
    height: 295px;
    width: 100%;
}
.weather:hover {
    opacity: .5;
}
.middle {
    opacity: 1;
}
.middle:hover {
    opacity: 1;
}
.mobile {
    display: none;
}
@media(max-width: 600px) {
    main {
        grid-template: repeat(4, 250px) / 1fr;
        grid-row-gap: 2px ;
        /* background-color: black */
    }
    .projectPic {
        height: 250px;
        /* margin-top: 10px; */
    }
    .box1 {
        background-color: #32a39e;
        height: 250px;
        /* align-content: center; */
    }
    .box1 > h2 {
        top: 15%;
        left: 20%;
    }
    .box1 p {
        font-size: 18px;
    }
}